.container {
  max-width: 96em;
  margin: 0 auto;
  padding: 0 5px;
  box-sizing: border-box;
}

.col {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;

  padding: 0 1em;

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }
}

.col-2 {
  width: 16%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 32%;
}

.col-7 {
  width: 58%;
}

.col-8 {
  width: 64%;
}
